img.avatar.circle {
	width: 160px;
}

h1.header {
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;

}

h5.header {
	font-style: italic;
}

h2 {
	font-size: 36px;

}

h3 {
	font-size: 24px;
	text-align: left;
}

h4 {
	font-size: 20px;
}

h5 {
	margin:.2rem 0 .2rem 0;
}
li {
	text-align: left;
} 

a {
	text-align: left;
	color:black;
}

a:hover  {
	color:#5386e2;
}

.section {
    padding-top: .1rem;
    padding-bottom: .1rem;

}


.btn {
	color: black;
    background-color: #fff;
}

.btn:hover  {
    background-color: #7ca8ef;
}

.card-panel:hover{
    background-color: #7ca8ef;
}

.card-panel.expanded:hover {
	background-color: white;
	z-index:1;
}

.card-panel.expanded {
	z-index:1;
}

.btn-in-card {
    background-color: lightgrey;
}

.card-title {
	margin-top: 0px;
}
.card-panel {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 24px;
	padding-left: 24px;

}

.card-panel img {
	display: none;
}

.card-panel.expanded img {
	display: initial;
}

.card-panel .row {
	display: none;
}

.card-panel.expanded .row {
	display: initial;
}

.card-panel.expanded {
	position: fixed;
	left: 64px;
	right: 64px;
	top: 64px;
	bottom: 64px;
	overflow: auto;
}

#whereIwork {
    padding-top: 0px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

#whereIwork img {
	display: initial;
}

#whereIwork.expanded img {
	display: none;
}

#whereIwork.expanded {
	position: fixed;
	left: 500px; /* Fit to my screen!*/
	right: 64px;
	top: 64px;
	bottom: 150px;
	overflow: auto;
}

.icon-row {
	margin-top: 0;
}

.inline-icon {
	color: inherit;
}

.inline-icon ~ .inline-icon {
	margin-left: 16px;
}

a.inline-icon i {
	font-size: inherit;
	vertical-align: text-bottom;
}

.toolbox_links{
	text-align: left;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    text-align: left;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /*display: none;*/
    opacity: 100;
    position: absolute;
    background-color: transparent;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #E0E0E0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
}

